extends ../includes/layout

block main-content

    section.content
        div(ng-include="'/partials/main/sidenav'")
        div(id="appbar" ng-include="'/partials/main/appbar'")
        div(ng-view)
        footer.container.text-center
            p &copy; 2015 Apollo Robotic Systems