script(src='/vendor/jquery/dist/jquery.js')
script(src='//maps.googleapis.com/maps/api/js?sensor=false')
script(src='/vendor/angular/angular.js')
script(src='/vendor/angular-resource/angular-resource.js')
script(src='/vendor/angular-route/angular-route.js')
script(src='/vendor/bootstrap/dist/js/bootstrap.js')
script(src='/vendor/toastr/toastr.js')
script(src="/vendor/socket.io-client/socket.io.js")
script(src='/vendor/angular-animate/angular-animate.min.js')
script(src='/vendor/angular-aria/angular-aria.min.js')
script(src='/vendor/angular-material/angular-material.min.js')
script(src='/vendor/lodash/dist/lodash.min.js')
script(src='/vendor/angular-google-maps/dist/angular-google-maps.min.js')
script(src='/vendor/angular-bootstrap/ui-bootstrap.js')
script(src='/vendor/angular-bootstrap/ui-bootstrap-tpls.js')
script(src='/vendor/ng-context-menu/dist/ng-context-menu.js')
script(src='/app/app.js')
script(src='/app/main/mvMainCtrl.js')
script(src='/app/main/mainSvc.js')
script(src='/app/account/mvNavBarLoginCtrl.js')
script(src='/app/common/mvNotifier.js')
script(src='/app/account/mvIdentity.js')
script(src='/app/account/mvAuth.js')
script(src='/app/account/mvUser.js')
script(src='/app/account/buttonCtrl.js')
script(src='/app/account/mvProfileCtrl.js')
script(src='/app/account/mvSignupCtrl.js')

script(src='/app/common/services/elementManagerSvc.js')
script(src='/app/common/services/waypointManagerSvc.js')
script(src='/app/common/services/droneManagerSvc.js')
script(src='/app/common/services/userManagerSvc.js')

script(src='/app/user/userMap/userMapCtrl.js')
script(src='/app/user/userMap/userMapSvc.js')
script(src='/app/user/userCtrl.js')
script(src='/app/user/services/userRequestDroneSvc.js')

script(src='/app/admin/adminCtrl.js')
script(src='/app/admin/services/zoneTypeSvc.js')
script(src='/app/admin/services/zoneSvc.js')
script(src='/app/admin/services/mapSvc.js')

script(src='/app/admin/adminMap/adminMapDrct.js')
script(src='/app/admin/adminMap/adminMapCtrl.js')
script(src='/app/admin/adminMap/adminMapSvc.js')

script(src='/app/admin/adminToolBar/adminToolBarSvc.js')
script(src='/app/admin/adminToolBar/adminToolBarCtrl.js')
script(src='/app/admin/adminToolBar/adminToolBarDrct.js')

script(src='/app/admin/adminPanel/adminPanelDrct.js')
script(src='/app/admin/adminPanel/adminPanelCtrl.js')

script(src='/app/admin/adminZoneTypeModal/adminZoneTypeModalCtrl.js')
script(src='/app/admin/adminZoneTypeModal/adminZoneTypeModalSvc.js')
script(src='/app/admin/adminZoneTypeModal/adminZoneTypeModalInstanceCtrl.js')



script(src='/app/realTime/realTimeCtrl.js')
script(src='/app/realTime/realTimeSvc.js')

